*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
    background: url(./assets/pexels-irina-iriser-1379636.jpg) center/cover ; 
}

.container{
    width:550px;
    height:450px;

}

.header{
    color:white;
    background-color:rgb(32, 32, 10);
    border:3px inset white;
    padding :5px;
    width:80%;
    margin:20px auto;
    border-radius: 10px;
}

.main-cont{
    width:100%;
    height:300px;
    background-color: whitesmoke;
    border-radius:15px;
    box-shadow: 0 0 15px;
    padding:  50px 40px;
}

.text{
    font-size: 1rem;
    line-height: 1rem;
}

.author{
    font-size:1.2rem;
    color:red;
    margin-top: 20px;
}

.btnarea button{
    background-color: rgb(32, 32, 10);
    color:white;
    font-size: 1rem;
    padding: 8px 10px;
    margin-top:20px;
    border-radius: 5px;
}

